.image {
    height: 120px;
    margin-left: 125px;
}
.name {
    font-weight: bold;
    color: #1f1f1f;
    text-align: center;
    margin-left: 90px;
}

.price {
    color: #11c18b;
    margin-left: 90px;
    margin-left: 90px;
}